@import url("../../../css/root.css");

/* Put here any 'index.html' specific css */

.page-section {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    min-width: 100%;
    padding: 20px 20px 20px 20px;
}

.section1 {
    height: 20%;
    flex-direction: row;
    background-color: var(--gray-70);
    color: var(--gray-10);
    font-size: 16px;
    padding: 0;
}

.legacy-scores-area {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}

.legacy-score-area {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 50%;
    width: 100%;
    font-size: 18px;
    padding: 0 10% 0 10%;
    font-family: 'Roboto-Bold';
}

/* .last-score {
    
} */

/* .best-score {

} */

.current-scores-area {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    font-family: 'Roboto-Black';
}

.current-score-area {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    font-family: 'Roboto-Black';
}

#currentScore {
    font-size: 50px;
    color: var(--secondary);
    padding-right: 10px;
}

.current-lives-area {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 40%;
    font-family: 'Roboto-Black';
    animation: flash .5s linear infinite;
}

.life-display {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin: 5% 5% 5% 5%;
    border-radius: 50%;
}

.life-full {
    background-color: var(--secondary);
}
.life-empty {
    background-color: var(--primary);
}

.section2 {
    height: 80%;
    background-color: var(--gray-90);
    justify-content: center;
    padding: 0 20px 0 20px;
}

.launch-button {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto-Black';
    font-size: 40px;
    background-color: var(--secondary);
    color: var(--gray-80);
    padding: 20px;
    width: 100%;
    border-radius: 10%/50%;
    transition: opacity .2s linear;
}
.launch-button:hover {
    background-color: var(--secondary);
}
.launch-button:focus {
    background-color: var(--secondary);
}

.dot-div {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 8px solid #ffffffd5;
    background-color: var(--secondary);
    transition: opacity .2s linear;
    animation: appearDot .25s;
}

.section3 {
    height: 80%;
    background-color: var(--gray-90);
    padding: 0 20px 0 20px;
}

.game-over {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto-Black';
    font-size: 60px;
    color: var(--bad-red);
    padding: 20px;
    text-align: center;
    opacity: 0;
    transition: opacity 1s linear;
}

#milisecondsText {
    opacity: 0;
    transition: opacity 1s linear;
}

.retry-button {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto-Black';
    font-size: 40px;
    background-color: var(--secondary);
    color: var(--gray-80);
    padding: 20px;
    width: 100%;
    border-radius: 10%/50%;
    opacity: 0;
    transition: opacity 1s linear;
}
.retry-button:hover {
    background-color: var(--secondary);
}
.retry-button:focus {
    background-color: var(--secondary);
}

/* Animations */

@keyframes appearDot {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
}

@keyframes pulseDot {
    from {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
    to {
      transform: scale(1.75);
      animation-timing-function: ease-out;
    }
}

@keyframes disappearDot {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0);
    }
}

@keyframes flash {
    from {
      opacity: 100;
    }
    to {
      opacity: 0;
    }
}